:root{
  --mainColor:#31708E;
  --secondaryColor:#5085A5;

  --borderColor:#164D56;
  --clickable: #4f4a41;

  --mainText:#1F2833;
  --secondaryText:#1A1A1D;

  --themeDotBorder:#24292e;

  --previewBg:rgb(251, 249, 243, 0.8);
  --previewShadow:#8FC1E3;

  --postPreview: #8FC1E3;

  --buttonColor: #1A1A1D;
}
