<!DOCTYPE html>
<html>
<head>
  <title>Shrill Patel</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="default.css">

</head>
<body>
  <div class="nav-wrapper">

    <a href="index.html">
      <div class="dots-wrapper">
        <div id="dot-1" class="browser-dot"></div>
        <div id="dot-2" class="browser-dot"></div>
        <div id="dot-3" class="browser-dot"></div>
      </div>
    </a>

    <ul id="navigation">
      <li><a href="index.html#contact">Back</a></li>
    </ul>
  </div>

  <div class="main-container">

    <br>

		<h2>MindSpace</h2>

		<p>This is a program that helps its users reduce the mental stresses that
       they might have. It does this by incorporating various methods to help the user with
      their mental stress (e.g. meditation, a scheduler for their tasks, and a suggestion area
      where they can take a look at reputable sources and get information). It helps the user
      meditate using the pre-loaded files. The program also allow users to search for suggestions
      on various ways to decrease the effects of their mental stress. This program also has a
      task manager that will keep track of what they need to do.

      <br>
      <br>

      <h5>Key Features</h5>
      <ul>
			  <li>- Sign-Up section (multiple users)</li>
			  <li>- Specialized calendar for task management</li>
			  <li>- Allows for Google search queries right from UI</li>
			  <li>- Personalized messages for the user</li>
		</ul>
    </p>

		<h5>Skills and Technologies Used:</h5>
		<ul>
			<li>- Java</li>
			<li>- Control Structures</li>
			<li>- Object Oriented Programming</li>
			<li>- Web Technologies (JQuery)</li>
			<li>- File IO</li>
		</ul>


		<h2>The Program In Action</h2>

    <h5>Main Screen</h5>
		<div class="img-container">
			<img src="images/main.png">
		</div>

		<h5>Log-in Page</h5>
		<div class="img-container">
			<img src="images/login.png">
		</div>

		<h5>Scheduler</h5>
		<div class="img-container">
			<img src="images/schedule.png">
		</div>

		<h5>Suggestions Page</h5>
		<div class="img-container">
			<img src="images/suggestions.png">
		</div>

		<h5>Meditiation Screen</h5>
		<div class="img-container">
			<img src="images/meditation.png">
		</div>

  </div>

</body>
</html>
