<!DOCTYPE html>
<html>
<head>
  <title>Shrill Patel</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="default.css">

</head>
<body>
  <div class="nav-wrapper">

    <a href="index.html">
      <div class="dots-wrapper">
        <div id="dot-1" class="browser-dot"></div>
        <div id="dot-2" class="browser-dot"></div>
        <div id="dot-3" class="browser-dot"></div>
      </div>
    </a>

    <ul id="navigation">
      <li><a href="index.html#contact">Back</a></li>
    </ul>
  </div>

  <div class="main-container">

    <br>

		<h2>PasswaordVault</h2>

		<p>This is an application that helps its users store all of their passwords in a single
    location on their computer. This program is based on the command line interface, and has
    a certain number of commands that the user can enter to manage their personal vault. This
    vault of passwords has a single master password that the user sets to access all of their passwords.
    <br>
    <br>
    This program has the abilty to always be running in the background of your computer so
    that you can quickly look up your passwords for various online services.
    </p>

		<h5>Skills and Technologies Used:</h5>
		<ul>
			<li>- Python</li>
			<li>- Hashing Framework</li>
			<li>- SQLite3 Database Framework</li>
			<li>- Data Structures</li>
			<li>- Personal Password Suggestion Algorithm Design</li>
		</ul>


		<h5>The Algorithm In Action</h5>
		<div class="img-container">
			<img src="images/pic.png">
		</div>

    <br>
    <br>
    <br>

  </div>

</body>
</html>
