<!DOCTYPE html>
<html>
<head>
  <title>Shrill Patel</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="default.css">

</head>
<body>
  <div class="nav-wrapper">

    <a href="index.html">
      <div class="dots-wrapper">
        <div id="dot-1" class="browser-dot"></div>
        <div id="dot-2" class="browser-dot"></div>
        <div id="dot-3" class="browser-dot"></div>
      </div>
    </a>

    <ul id="navigation">
      <li><a href="index.html#contact">Back</a></li>
    </ul>
  </div>

  <div class="main-container">

    <br>

		<h2>A* Pathfinding Algorithm Visualizer</h2>

		<p>This is a project that helps its users understand how the A* pathfinding algorithm works.
    The A* pathfinding algorithm is an algorithm that finds the shortest path between 2 nodes.
    The algorithm works to find a path that is the shortest and lowest cost (in terms of weights).
    <br>
    <br>
    This tool allows the user to pick a start point, an end point, and lets them draw in their own barriers.
    Once the algorithm starts, the user can see how the algorithm approaches to find the shortest path to the end node.
    <br>
    <br>
    With a clean UI design and simple controls, a user of any experience can learn from this tool.
    </p>

		<h5>Skills and Technologies Used:</h5>
		<ul>
			<li>- Python</li>
			<li>- Pygame and TKinter Framework</li>
			<li>- Object Oriented Programming</li>
			<li>- Data Structures</li>
			<li>- Algorithm Design</li>
		</ul>


		<h2>The Algorithm In Action</h2>
		<div class="img-container">
			<img src="images/astar2.png">
		</div>

    <br>
    <br>
    <br>

  </div>

</body>
</html>
